.content-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.ui.menu {
  background-color: chocolate !important;
}

.hidden {
  display: none !important;
}

.content {
  margin-top: 6em;
  flex: 1;
}
